[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
knox = "*"
django-rest-knox = "*"
jinja2 = "*"
boto3 = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.9"
